// _sharedClasses.scss
//  Author:             Jack
//  Date:               2022-03-30
//  Last revised:       2024-07-11
//  Description:        Lab 10's CSS

.button {
	width: 15%;
	min-width: 48px;
	min-height: 48px;
	color: $button-textcolor;
	border: 1px solid $textbox-bordercolor;
	border-radius: 10px;
	outline: none;
}

.button:hover {
	cursor: pointer;
}

.button:hover,
.button:focus {
	filter: brightness(120%);
	box-shadow: 4px 2px 5px #000;
}

h1 {
	padding-bottom: 10px;
	text-indent: 20px;
}